*{
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main-menu{
 background: #222222;
 height: 40px;
 line-height: 40px;
}
ul{
  list-style-type:none;
  
}
li{
  display: inline-block;
  border-right: 1px solid #414141;
  position:relative;
}
a{
  text-decoration:none;
  color: #fff;
  padding: 0 20px;
  display: block;
  position: relative;
}
a:hover{
  color:#e8491d;
}
.active{
  background: #e8491d;
}
.active:hover{
  background: #222222 
}

/* -----Dropdown Menu----- */
.sub-menu{
  display: none;
  position: absolute;
  top: 40px;
  left: -5px;
  width: 150px;
  border-top: 1px solid #e8491d;
  background: #191919;
}
.sub-menu-child{
  display: none;
  position: absolute;
  top: -1px;
  left: 150px;
  width: 150px;
  border-top: 1px solid #e8491d;
  background: #191919;
}
li:hover > .sub-menu{
  display: block;
  
}
.sub-menu li:hover > .sub-menu-child{
  display: block;
  
}
.sub-menu li{
 border-right: none;
 display: block;
}
.sub-menu li:hover{
  background: #555;
}