*{
	box-sizing: border-box;
}
body{
	margin-top: 10px;
}
#container{
	max-width: 1280px;
	margin: auto;
}
/*-----Phần Header-----*/
#header{
	height: 80px;
	width: 100%;
}
.logo{
    height: 100%;
    width: 16%;
    background-color: #FFC7B5;
    float: left;
    margin-right:2%;
}
.slogan{
    height: 100%;
    width: 82%;
    background-color: #B8D8E7;
    float: left;	
}
/*-----Phần Content-----*/
#content{
	height: 530px;
	width: 100%;
	margin-top:15px;
}
.slidebar{
	height: 100%;
    width: 16%;
	background-color: #93DFB8;
	float: left;
	margin-right:2%;
}
.main-content{
	height: 100%;
	width: 82%;
	float: left;
}
.box{
	height:336px;
	width: 32%;
	background-color: #FFBDD9;
	float: left;
}
.box_1, .box_2, .box_3{
	width: 15%;
	height: 162.43px;
	margin-right:2%;
	background-color: #DDDDDD;
	float: left;
}
.box_1{
	margin-left:2%;
}
.box_4{
	width:  15%;
	height: 160px;
	background-color: #DDDDDD;
	float: left;	
}
.box_5, .box_6, .box_7{
	width: 15%;
	height: 162.43px;
	margin-right:2%;
	background-color: #DDDDDD;
	float: left;
	margin-top:2%;
}
.box_5{
	margin-left:2%;
}
.box_8{
	width: 15%;
	height: 162.43px;
	background-color: #DDDDDD;
	float: left;
	margin-top:2%;
}
.box_9, .box_10, .box_11, .box_12, .box_13{
	width: 15%;
	height: 162.43px;
	margin-right:2%;
	background-color: #DDDDDD;
	float: left;
	margin-top:2%;
}
.box_14{
	width: 15%;
	height: 162.43px;
	background-color: #DDDDDD;
	float: right;
	margin-top:2%;	
}
@media screen and (max-width: 768px){
/*-----Phần Header-----*/
#header{
	height: 110px;
	position: relative;
}
.logo{
    height: 50px;
    width: 35%;
    margin-bottom: 10px;
}
.slogan{
    height: 50px;
    width: 100%;	
}
/*-----Phần Content-----*/
.slidebar{
	height: 50px;
    width: 15%;
    right: 0;
    position: absolute;
    top: 10px;
    margin-right: 10px;
}
.main-content{
	height: 500px;
	width: 100%;
	position: relative;
}
.box{
	height:48%;
	width: 100%;
}
.box_1, .box_3{ 
	width: 49%;
	height: 24%;
	margin-left: 0;
	margin-top: 2%;
}
.box_2, .box_4{
	height: 24%;
	width: 49%;
	float: right;
	margin-top: 2%;
	margin-right: 0;
}
.box_5, .box_6, .box_7, .box_8, .box_9, .box_10,.box_11,.box_12, .box_13, .box_14{
	display: none;
}
}
@media screen and (max-width: 480px){
/*-----Phần Header-----*/
.slogan{
    height: 50px;
    width: 80%;	
    position: absolute;
    top: 0;
}
.logo{
    height: 50px;
    width: 100%;
    position: absolute;
    top: 60px;
}
/*-----Phần Content-----*/
.slidebar{
    width: 20%;
}
.box_2, .box_4{
    display: none;
}
.box_1, .box_3{ 
	width: 100%;
	height: 24%;
}
}