*{
	box-sizing: border-box;
}
body{
    text-align: center;
    font-weight: bold;
    margin: 0;
}
#container{
	max-width: 768px;
	margin: auto;
}
/*Đây là phần đầu trang và chân trang*/
#header, #footer{
	background-color: #9E9BBD;
	height: 80px;
	line-height: 80px;
}
#header{
	border-bottom: 2px solid #000;
}	
#footer{
	border-top: 2px solid #000;
}
/*Đây là phần nội dung*/
#content{
	background-color: #ddd;
	height: 500px;
}
/*Nội dung bên trái và bên phải*/
#left-content, #right-content{
	width: 20%;
	height: 100%;
	background-color: #CDC9E4;
	float: left;
	line-height: 500px;
}
#right-content{
	border-left: 2px solid #000;
}
#left-content{
	border-right: 2px solid #000;
}
/*Nội dung chính*/
#main-content{
	width: 60%;
	height: 100%;
	float: left;
}
#pre-body, #post-body {
	width: 100%;
	height: 25%;
	background-color: #DCDDDF;
	line-height: 125px;
}
#pre-body{
	border-bottom: 2px solid #000;
}
#post-body{
	border-top: 2px solid #000;
}
#body{
	width: 100%;
	height: 50%;
	background-color: #FFF;
	line-height: 250px;
}